form{
  text-align: center;
  font-size:20px;
  color:Blue;
  text-decoration: Bold;
  font-family: Calbri;
  margin:50px auto;
  width:600px;
  border-radius: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 50px;
}
label{
  display: inline-block;
  width:120px;
  text-align: right;
  color:chocolate;
  font-size: 30px;
    padding-right:50px;
    padding-bottom: 60px;
}

input{
  font-size:30px;
  font-family:Arial;
  background: #BDBDBD;
  width:400px;
  vertical-align: top;
}
textarea{
  font-size:20px;
  font-family:Arial;
  background: #BDBDBD;
  width:400px;
  vertical-align: top;

}
.button a{
  text-decoration: none;
border: none;
background-color: brown;
color:White;
font-weight: 100;
padding:10px;
transition:all 0.4s ease 0s;
  display: inline-block;
  font-family: Arial;
  font-size:20px;

}
body{
  background-color:black;
}
h3{
  color:azure;
  font-size: 45px;
  text-align: center;

}
.button a:hover{
  background-color: yellow;
  color:black;
}
#submit{
  font-size:40px;
  font-family:Arial;
  background: blue;
  width:150px;
  vertical-align: top;
  color:white;
}
#submit:hover{
  background-color: yellow;
  color:black;
}
h3:hover{
  color:#cb4154;
}
